body {
  /** This fixes navbar position */
  margin-top: 50px;
}

#menu, #search-results {
  min-height: 400px;
}

#js-example {
  background-color: #5cb85c!important;
}

#php-example {
  border-top: 5px solid #0275d8!important;
}

.jumbotron h3 {
  margin-top: 0px;
  line-height: 2;
}

h2 {
  border-bottom: 1px dotted #f4f4f4;
  margin-bottom: 20px;
}

.focus {
  font-weight: bolder;
  background-color: #444;
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
}
